<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <p>
    <%= f.file_field :image %>
  </p>
<%= link_to image_tag(@post.image_url(:thumb)), @post.image.url(:original), :class => 'postimage'%>
<label>

<%= f.check_box :remove_image, :label => 'Delete Image' %>
Delete Image

</labet>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>