<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th><%= t ".name" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.name %></td>
    <td><%= link_to 'Show', gallery %></td>
	<% if can? :update, @gallery %>
    <td><%= link_to t(".edit"), edit_gallery_path(gallery) %></td>
	<% end %>
	<% if can? :destroy, @gallery %>
    <td><%= link_to t(".destroy"), gallery, method: :delete, data: { confirm: t(".Are you sure?") } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @gallery %>
<%= link_to 'New Gallery', new_gallery_path %>
<% end %>