<h1><%= t ".title" %></h1>

 

<% @galleries.each do |gallery| %>
  
    <%= gallery.name %>
    
    <%= link_to t(".Show"), gallery %>
    
	<% if can? :update, @gallery %>
    <%= link_to t(".edit"), edit_gallery_path(gallery) %>
	<% end %>
	
	<% if can? :destroy, @gallery %>
    <%= link_to t(".destroy"), gallery, method: :delete, data: { confirm: t(".Are you sure?") } %>
	<% end %>
  
<% end %>


<br />
<% if can? :create, @gallery %>
<%= link_to t(".New Gallery"), new_gallery_path %>
<% end %>