<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <h2><%= @gallery.name %></h2>
</p>

<% @gallery.pictures.each do |picture|%>
<p>
  <b>Name:</b>
  <%= picture.name %>
</p>

<%= link_to (image_tag (picture.image_url(:thumb))), picture.image.url(:original), :class => 'picture' %>

<p>
<%= link_to 'Destroy Picture', [picture.gallery, picture],
             :confirm => 'Are you sure?',
             :method => :delete %>
		 </p>
		 
 <% end %>
 
<h2>Add a picture:</h2>
<%= render "pictures/form" %>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>


