<!DOCTYPE html>
<html>
<head>
  <title>Fragglerne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
	<ul>
	<li>
		<%= link_to t(".Home"), root_path %>
	</li>
	<li>
		<%= link_to t(".Post"), posts_path %>
	</li>
	<li>
		<%= link_to t(".Gallery"), galleries_path %>
		<ul>
		<li>
		<%= link_to t(".Fragglerne"), fragglerne_path %>
		</li>
		</ul>
	</li>
	<% if can? :read, @user %>
	<li>
		<%= link_to t(".Profil"), user_root_path %>
	</li>
	<% end %> 
	</ul>
	
	</nav>
		<%- flash.each do |name, msg| -%>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <%- end -%>
	      
		  <div id="user_nav">
		    <% if user_signed_in? %>
		     <%= t ".signed in as" %> <%= current_user.username %>. <%= t ".Not you?" %>
		  	
		      <%= link_to t(".Sign out"), destroy_user_session_path %>
			  <%= link_to t(".Edit profile"), edit_user_registration_path %>
		    <% else %>
		      <%= link_to t(".Sign up"), new_user_registration_path %><%= t(".or") %>
		      <%= link_to t(".Sign in"), new_user_session_path %>
		    <% end %>
		  </div>
<%= yield %>


<div id="language-selector"><%= link_to_unless_current "English", locale: "en" %> |
	<%= link_to_unless_current "Dansk", locale: "da" %>
</div>
</body>
</html>
